Node-Red Flows/master_closet_lights_flow.txt
[{"id":"3fced588.3209ea","type":"comment","z":"7480b3fc.e4a32c","name":"Master Bedroom Closet","info":"","x":105,"y":777.1111030578613,"wires":[]},{"id":"8c711fb7.a7d55","type":"server-state-changed","z":"7480b3fc.e4a32c","name":"Master Closet Sensor","server":"60399c4a.3a8e14","entityidfilter":"sensor.master_closet_motion_sensor","haltifstate":"","x":111.33333587646484,"y":828.9999942779541,"wires":[["e2fe1f8d.67c05"]]},{"id":"e2fe1f8d.67c05","type":"switch","z":"7480b3fc.e4a32c","name":"Motion Detected?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":357.33333587646484,"y":827.9999942779541,"wires":[["a42b6171.34cb5","803b49d6.df5818"],["a42b6171.34cb5"]]},{"id":"dbef3859.bd67f8","type":"api-call-service","z":"7480b3fc.e4a32c","name":"ON 100%","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_closet_lights\", \"brightness_pct\": 100, \"transition\": 0}","x":989.5558013916016,"y":797.2222290039062,"wires":[]},{"id":"e49748d7.7c1498","type":"api-call-service","z":"7480b3fc.e4a32c","name":"OFF","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.master_closet_lights\"}","x":980.3333854675293,"y":836.8887004852295,"wires":[]},{"id":"a42b6171.34cb5","type":"stoptimer","z":"7480b3fc.e4a32c","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30Secs","x":591.5555038452148,"y":843.7777729034424,"wires":[["7395e692.921758"],[]]},{"id":"7395e692.921758","type":"api-current-state","z":"7480b3fc.e4a32c","name":"Still in Closet?","server":"60399c4a.3a8e14","halt_if":"on","entity_id":"sensor.master_closet_motion_sensor","x":808.222297668457,"y":836.4444246292114,"wires":[["e49748d7.7c1498"]]},{"id":"803b49d6.df5818","type":"api-current-state","z":"7480b3fc.e4a32c","name":"Light Already On?","server":"60399c4a.3a8e14","halt_if":"on","entity_id":"sensor.master_closet_motion_sensor","x":618.2221908569336,"y":796.4444923400879,"wires":[["dbef3859.bd67f8"]]},{"id":"60399c4a.3a8e14","type":"server","z":"","name":"Home Assistant","url":"http://127.0.0.1:8123","pass":"12345"},{"id":"7b0263b7.70f6cc","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"XXXXX"}]