Node-Red Flows/office_light_flow.txt
[{"id":"f014886e.2886f8","type":"comment","z":"7480b3fc.e4a32c","name":"Office","info":"","x":159,"y":1995,"wires":[]},{"id":"57356ca7.77a504","type":"server-state-changed","z":"7480b3fc.e4a32c","name":"Office Light Switch","server":"7b0263b7.70f6cc","entityidfilter":"sensor.lennys_office_light_switch","haltifstate":"off","x":200,"y":2100,"wires":[["7aee391f.10d598"]]},{"id":"7aee391f.10d598","type":"switch","z":"7480b3fc.e4a32c","name":"Light Switch Functions","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2_click","vt":"str"},{"t":"eq","v":"1_click","vt":"str"},{"t":"eq","v":"3_click","vt":"str"},{"t":"eq","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":469.4285888671875,"y":2099.857177734375,"wires":[["5c0edbde.a77ba4"],["5ffc484e.2c7868"],["ad29ec6a.891f"],["938db23b.e6f0f"]]},{"id":"5c0edbde.a77ba4","type":"api-call-service","z":"7480b3fc.e4a32c","name":"ON 100%","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.sengled_e11g13_030e72b0_1\", \"brightness_pct\": 100, \"transition\": 1}","x":746.5714111328125,"y":2024.5714111328125,"wires":[]},{"id":"ad29ec6a.891f","type":"api-call-service","z":"7480b3fc.e4a32c","name":"ON 15%","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.sengled_e11g13_030e72b0_1\", \"brightness_pct\": 15, \"transition\": 1}","x":745.5714111328125,"y":2113.571533203125,"wires":[]},{"id":"f12eea86.6963f8","type":"alexa-local","z":"7480b3fc.e4a32c","devicename":"Office Light","inputtrigger":false,"x":179,"y":2032,"wires":[["877ad40.c5ad23"]]},{"id":"877ad40.c5ad23","type":"switch","z":"7480b3fc.e4a32c","name":"Need Lights?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":499,"y":2031,"wires":[["5c0edbde.a77ba4"],["938db23b.e6f0f"]]},{"id":"938db23b.e6f0f","type":"api-call-service","z":"7480b3fc.e4a32c","name":"OFF","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.sengled_e11g13_030e72b0_1\", \"transition\": 2}","x":736.5714111328125,"y":2155.571533203125,"wires":[]},{"id":"5ffc484e.2c7868","type":"api-call-service","z":"7480b3fc.e4a32c","name":"ON 40%","server":"7b0263b7.70f6cc","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.sengled_e11g13_030e72b0_1\", \"brightness_pct\": 40, \"transition\": 1}","x":745.5714111328125,"y":2068.571533203125,"wires":[]},{"id":"7b0263b7.70f6cc","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"XXXXX"}]